<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contactsmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.contactsmanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DefaultTextViewTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.contactsmanager.ContactInfoActivity"
            android:label="@string/title_activity_contact_info" >
        </activity>
        <activity
            android:name="com.example.contactsmanager.EditContactScreenActivity"
            android:label="@string/title_activity_edit_contact_screen" >
        </activity>
        <activity
            android:name="com.example.contactsmanager.ViewContactActivity"
            android:label="@string/title_activity_view_contact" >
        </activity>
    </application>

</manifest>
